body {
    padding: 0;
    margin: 0;
    background-color: #aaa;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
  
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
}

p, a, ul, li, i, label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
  
.menu {
    padding: 0 0 0 2rem;
    width: 10rem;
    height: 100vh;
    position: fixed;
    background-color: #000;
    left: 0;
    top: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 1rem;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: #ccc;
    padding: .5rem;
    background-color: #000;
    border-radius: .5rem;
    transition: color 0.3s;
}

.menu ul li a i {
    margin-right: .5rem;
    color: #ccc;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #fff;
}

.menu ul li a:hover i {
    color: #fff;
}
  
.content {
    flex-basis: 75%;
    padding-left: 16rem;
}

.urzadzenie {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background-color: #000;
    padding: 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.urzadzenie_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5rem;
    padding: 0 .5rem 0 .5rem;
}

.urzadzenie_info i {
    font-size: 3rem;
}

.urzadzenie_info:first-child {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.urzadzenie_info:nth-child(2) {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.urzadzenie_info:last-child {
    margin-right: 2rem;
}

.icon_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
.icon_button:hover {
    color: red;
    transform: scale(1.1);
    transition: color 0.3s ease-in-out;
}
  
.icon_button i {
    font-size: 3rem;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.filter form {
    display: flex;
    align-items: center;
}

.filter_select {
    margin-right: 5rem;
    padding: 1rem;
    font-size: 1rem;
    color: #fff; 
    background-color: #000;
    border: none;
    border-radius: .5rem;
    appearance: none; 
    cursor: pointer;
}

.filter_select:last-child {
    margin-right: 10rem;
}

.filter_select option {
    font-size: 1rem;
    background-color: #000;
    color: #fff; 
}
  
.filter button {
    padding: .5rem;
    border-radius: .5rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add_component_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    background-color: #000;
    padding: 2rem;
    border-radius: .5rem;
}

.add_component_form input {
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 1rem;
    color: #000; 
    background-color: #fff;
    border: none;
    border-radius: .5rem;
}

.add_component_form input:last-child {
    margin-bottom: 2rem;
}

.add_component_form button {
    padding: .5rem;
    border-radius: .5rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add_component_form label {
    margin-bottom: .5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.add_device_select {
    background-color: #fff;
    color: #000;
}

.harmonogram_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    border-radius: .5rem;
}

.panel {
    background-color: #000000;
    border: 1px solid #3a3333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: inline-block;
    padding: 20px;
    width: 450px;
    color: #dccccc;
    margin-left: 10px;
}

.panel h2 {
    margin-top: 0;
}

.panel p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 0.8;
}

.panel-container {
    display: flex;
    align-items: center;
}

.panel-icon {
    float: right;
    margin-left: 10px;
}
